@media screen and ( max-width: 1200px )
 html
  font-size: 12px
 .nav
  &__item
   margin-right: 1.05rem 
 .hero 
  &__button
   display: block
   margin-bottom: 1.89rem
@media screen and ( max-width: 992px )
 .nav
  display: none
 .hero
  &__instagram
   display: none
  &__content
   margin-left: 0
  &__text
   font-size: 1.57rem
   line-height: 131%
   margin: 0
   margin-top: 1rem
   margin-bottom: 3.5rem
  &__button
   display: block
   margin-bottom: 1.89rem
 .designproject
  &__about
   max-width: 600px
 .section-title
  &__heading
   font-size: 22px
@media screen and ( max-width: 860px )
 .card
  &__title
   max-width: 150px
@media screen and ( max-width: 760px )
 .row
  flex-direction: column
  align-items: center
 .types
  &__card
   margin-bottom: 4.29rem
 .section-title
  &__heading
   font-size: 22px
  &__text
   margin-left: 0
 .designproject
  &__card
   margin-bottom: 4.29rem
 .card
  &__title
   max-width: none
@media screen and ( max-width: 576px )
 .designproject
  background: $dark3
  &__section-title
    color: $light
 .about
   color: $light
   font-size: 15px
   max-width: 83%
   line-height: 135.84%
 .contacts
  &__phone
   margin-right: 0
   color: $light
   text-decoration: none
  &__button
   display: none
 .hero
  &__title
   font-size: 2rem
   letter-spacing: -0.5px
   max-width: 260px
   font-style: normal
   font-weight: normal
  &__scroll-down
   display: none
  &__content
   margin-top: -35px
   max-width: unset
  &__text
   margin-top: 1rem
   margin-bottom: 2.29rem
   max-width: 330px
   font-style: normal
   font-weight: normal
  &__button
   display: block
   margin-bottom: 1.89rem
   max-width: unset
   font-size: 1.05rem
 .section-title
  &__heading
   font-size: 22px
@media screen and ( max-width: 380px )
 .designproject
  &__about
   max-width: 300px
@media screen and ( max-width: 360px )
 .hero
  &__title
   font-size: 1.7rem
  &__content
   margin-top: -45px
  &__text
   font-size: 1.2rem
   max-width: 255px
 .section-title
  &__heading
   font-size: 22px
@media screen and ( max-width: 320px )
 .contacts
  &__phone
   margin-right: 0
   color: $light
   text-decoration: none
 .hero
  &__content
   margin-top: -30px
   max-width: unset
  &__button
   display: block
   margin-bottom: 1.89rem
   max-width: unset
   font-size: 1.05rem
 .section-title
  &__heading
   font-size: 22px
@media screen and ( max-height: 530px )
 .hero
  &__scroll-down
   display: none
  
